In [3]:
import pandas as pd
import streamlit as st
import plotly.express as px

Goal of the project: To investigate the car sales advertisment and to create the webapp for this purpose.
The app will contain 2 charts:
1) Dependancy of car prises from conditions
2) Average car price by model

Additionaly app will contain a slider to choose the price range of cars and a checkbox to pick only the cars that are less then 10 years old.

Hypotheses:
1) The prices of the cars are strongly dependent on the car condition
2) There majority of cars are in the middle price range 

Input data: csv file 'vehicles_us.csv' which contains: price, model_year, model	condition, number of cylinders,	type of fuel, odometer,	type of transmission, type of car, paint_color,	4wd or not,	date_posted, days_listed

In [4]:
#creating a header
print('Investigation of car advertisement market in US')
#creating a project description
print('In this app we will investigate dependancy of the car price from condition and model')

Investigation of car advertisement market in US
In this app we will investigate dependancy of the car price from condition and model

In [5]:
df=pd.read_csv('vehicles_us.csv')
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [6]:
df.info('vehicles_us.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [7]:
import plotly.express as px

In [8]:
df['price'].describe()

count     51525.000000
mean      12132.464920
std       10040.803015
min           1.000000
25%        5000.000000
50%        9000.000000
75%       16839.000000
max      375000.000000
Name: price, dtype: float64

In [9]:
df['condition'].describe()

count         51525
unique            6
top       excellent
freq          24773
Name: condition, dtype: object

In [10]:
df['is_4wd'].describe()

count    25572.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: is_4wd, dtype: float64

In [11]:
#Cheking missing values in the data
df.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [19]:
# looping over column names and replacing missing values in colums paint_colour and is_4wd with 'unknown'
columns_to_replace = ['paint_color','is_4wd']
for column in columns_to_replace:
   df[column] = df[column].fillna('unknown')

In [47]:
#Filling in the NaN values in model_year with median using group by model and model_year
df['model_year'] = pd.to_numeric(df['model_year'], errors='coerce')
df['model_year'] = df['model_year'].astype(float).fillna(df.groupby(['model'])['model_year'].transform('median'))
print(df['model_year'])

0        2011.0
1        2011.0
2        2013.0
3        2003.0
4        2017.0
          ...
51520    2013.0
51521    2002.0
51522    2009.0
51523    2013.0
51524    2014.0
Name: model_year, Length: 51525, dtype: float64

In [64]:
#Filling in the NaN values in cylinders with mode using group by model and model_year
df['cylinders'] = pd.to_numeric(df['cylinders'], errors='coerce')
df['cylinders'] = df['cylinders'].fillna(df.groupby(['model','model_year'])['cylinders'].transform(pd.Series.mode))
print(df['cylinders'])

0        6.0
1        6.0
2        4.0
3        8.0
4        4.0
        ...
51520    6.0
51521    4.0
51522    4.0
51523    4.0
51524    4.0
Name: cylinders, Length: 51525, dtype: float64

In [59]:
#Filling in the NaN values in odometer with mode using group by model and model_year
df['odometer'] = pd.to_numeric(df['odometer'], errors='coerce')
df['odometer'] = df['odometer'].fillna(df.groupby(['model','model_year','type','condition'])['odometer'].transform('median'))
print(df['odometer'])

0        145000.0
1         88705.0
2        110000.0
3        233000.0
4         80903.0
           ...
51520     88136.0
51521    181500.0
51522    128000.0
51523    139573.0
51524    100355.0
Name: odometer, Length: 51525, dtype: float64

In [14]:
df.info('vehicles_us.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  object
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  object
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  object
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  object
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: int64(2), object(11)
memory usage: 5.1+ MB

In [15]:
#checking for duplicates
df.duplicated().sum()

0

In [16]:
#droping duplicates
df=df.drop_duplicates()

In [17]:
#checking for duplicates again
df.duplicated().sum()

0

In [67]:
#creating slider for the price range and checkbox for the cars that have less then 10 years since production 
st.caption('Choose your parameters here')
price_range = st.slider(
     "What is your price range?",
     value=(1, 375000))

actual_range=list(range(price_range[0],price_range[1]+1))

not_old_cars = st.checkbox('Only cars less then 10 years old')

if not_old_cars:
    filtered_data=df[df.price.isin(actual_range)]
    df.model_year = df.model_year.astype(str)
    filtered_data=filtered_data[df.model_year>='2010']
else:
    filtered_data=df[df.price.isin(actual_range)]

In [68]:
#scatterplot  with a split by price and condition

fig = px.scatter(filtered_data, title="Split of cars by price and condition", x="price", y="condition")           
st.plotly_chart(fig)

DeltaGenerator()

In [69]:
#Conclusion from the scatterplot with a split by price and condition
st.write('Conclusion about the depandancy of price from condition:')
st.write('1) Absolute majority of the cars with new, like new, excellent and good condition have pretty much the same prices')
st.write('2) The prices for new, like new, excellent and good condition cars are mostly less then 60 000 $')
st.write('3) The prices for salvage and fair condition cars are mostly less then 20 000 $')

Conclusion from the scatterplot with a split by price and condition

1) Absolute majority of the cars with new, like new, excellent and good condition have pretty much the same prices
2) The prices for new, like new, excellent and good condition cars are mostly less then 60 000 $
3) The prices for salvage and fair condition cars are mostly less then 20 000 $

In [70]:
#Histogram showing the average price by model
fig2 = px.histogram(filtered_data, title="Average price by model", x="model", y="price",histfunc="avg")
st.plotly_chart(fig2)

DeltaGenerator()

In [71]:
st.write('Conclusion about the average prices by the model:')
st.write('1) The average prices of most of the models are below 10 000 $')
st.write('2) The most expensive model is Mercedes-benz Sprinter 2500 with the average price of 34900$')

Conclusion about the average prices by the model:
1) The average prices of most of the models are below 10 000 $
2) The most expensive model is Mercedes-benz Sprinter 2500 with the average price of 34900$

In [72]:
st.header('Overall Conclusion')
st.write('We found out that:')
st.write('1) Absolute majority of the cars with new, like new, excellent and good condition have pretty much the same prices')
st.write('2) The prices for new, like new, excellent and good condition cars are mostly less then 60 000 $')
st.write('3) The prices for salvage and fair condition cars are mostly less then 20 000 $')
st.write('4) The average prices of most of the models are below 10 000 $')
st.write('5) The most expensive model is Mercedes-benz Sprinter 2500 with the average price of 34900$')

Overall Conclusion:

1) Absolute majority of the cars with new, like new, excellent and good condition have pretty much the same prices
2) The prices for new, like new, excellent and good condition cars are mostly less then 60 000 $
3) The prices for salvage and fair condition cars are mostly less then 20 000 $
4) The average prices of most of the models are below 10 000 $
5) The most expensive model is Mercedes-benz Sprinter 2500 with the average price of 34900$